/* Start of App */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  position: fixed;
  z-index: 5;
  padding-top: 7%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.25);
  transition: all 250ms;
}

.modal-hidden{
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 70%;
  border-radius: 5px;
}

.input-group{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: 5%;
  margin-bottom: 1%;
}

.input-group div.top-inputLine-remover{
  background-color: #f2f4f7;
  height: 37%;
  width: 0;
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  transition: width 0.2s;
}

.input-group div.bottom-inputLine-remover{
  background-color: #f2f4f7;
  height: 37%;
  width: 0;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  transition: width 0.2s;
}

.input-group p{
  position: absolute;
  font-size: 15px;
  top: 55%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: black;
  visibility: hidden;
  opacity: 0;
  padding: 0px 5px;
  pointer-events: none;
  transition: all 0.2s;
  z-index: 1;
}

.input-group label{
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  color: gray;
  padding: 0px 5px;
  pointer-events: none;
  transition: all 0.2s;
  z-index: 1;
}

.input-group input{
  text-align: center;
  width: 50rem;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 5px 10px;
  background: transparent;
  border: 1.2px solid black;
  border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label{
  top: 0;
  font-size: 15px;
  color: black;
}

.input-group input:focus~p,
.input-group input:valid~p{
  visibility: visible;
  opacity: 1;
}

.input-group input:focus~div.top-inputLine-remover,
.input-group input:valid~div.top-inputLine-remover{
  width: 5.5%;
}

.input-group input:focus~div.bottom-inputLine-remover,
.input-group input:valid~div.bottom-inputLine-remover{
  width: 3%;
}

.topbutton{
  color: white;
  bottom: 50px;
  display: block;
  height: 60px;
  line-height: 60px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 60px;
  transition: all 0.3s;
  z-index: 1;
  font-size: 20px;
  border-radius: 50%;
  background-color: #434343;
  cursor: pointer;
}

.topbutton:hover{
  background-color: #575757;
}

.topbutton--hidden{
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

.topbuttonicon{
  position: relative;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #29abe2;
  z-index: 3;
  transition: opacity 1s, visibility 1s;
}

.loader--hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  border: 50px solid #fff;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

.loading-text{
  letter-spacing: 5px;
  color: #fff;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  transition: opacity 1s, visibility 1s;
}

@keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* End of App */

/* Start of Navbar */

#navbar-aqua{
  display: flex;
  justify-content: space-around;
}

.navbar{
  transition: all 0.5s;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%
}

nav ul{
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav-link{
  cursor: pointer;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars:hover:active:focus {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #000;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars:hover:active:focus {
  color: #000;
}

.navbar-scrolled {
  background-color: #fff;
}

.navbar-scrolled {
  padding-bottom: 1.5%;
}

.navContainer{
  white-space: normal;
}

.navbar-brand{
  cursor: pointer;
}

.nav-link{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem!important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 50px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.hover-underline-animation-scrolled {
  display: inline-block;
  position: relative;
  color: #000;
}

.hover-underline-animation-scrolled::after {
  content: '';
  position: absolute;
  width: 50px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #000;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-scrolled:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

/* End of Navbar */

/* Start of Home */

.main-content video{
  min-height: 100vh;
  max-width: 100%;
  filter: opacity(0.5);
}

.main-content{
  background: linear-gradient(to bottom,rgb(50, 100, 250), rgb(50, 200, 250));
  max-height: 100vh;
  overflow: hidden;
}

.content-in-bg h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 6.2rem;
  color: white;
  margin-top: 0;
  margin-bottom: 3%;
}

.content-in-bg p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
}

.container-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

button.main-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-image: linear-gradient(110deg, #ff4700, #ffb938, #ffb938, #ff4700);
  background-position: left;
  border: 0 solid rgb(255, 255, 255, 0.5);
  background-size: 200% 100%;
  transition: background-position 0.5s, background-size 0.5s, box-shadow 0.5s, border-width 0.2s;
  color: white;
  box-shadow: 0;
  height: 3.5rem;
  width: 9rem;
}

button.main-btn:hover {
  font-family: 'Poppins', sans-serif ;
  color: white;
  font-weight: 300;
  background-position: right;
  background-size: 200% 100%;
  border-width: 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.75);
}

button.main-btn:active{
  border-width: 5px;
}

.content-in-bg button.snd-btn{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 300;
  background-color: black;
  border: 0 solid rgb(255, 255, 255, 0.5);
  transition: background-color 0.5s, box-shadow 0.5s, border-width 0.2s;
  box-shadow: 0;
  color: white;
  height: 5rem;
  width: 15rem;
}

button.snd-btn{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: black;
  border: 0 solid rgb(255, 255, 255, 0.5);
  transition: background-color 0.5s, box-shadow 0.5s, border-width 0.2s;
  box-shadow: 0;
  color: white;
  height: 4rem;
  width: 11rem;
}

button.snd-btn:hover{
  color: white;
  background-color: #ff4700;
  border-width: 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
}

button.snd-btn:active{
  background-color: #0d6efd;
  border-width: 5px;
}

.bold-txt{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #ff4700;
}

.text-primary{
  color: #0d6efd!important;
}

.additional-content{
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f2f4f7;
}

.additional-content h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #292929;
  font-size: 4rem;
  margin-bottom: 9%;
}

.additional-content h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #292929;
  margin-top: 10%;
  font-size: 2.5rem;
}

.elbow{
  position: absolute;
  bottom: 70%;
  right: 5%;
  pointer-events: none;
  animation: macaroni-spin infinite 15s linear;
  opacity: 1;
  transition: opacity 1.5s;
}

.fusilli{
  position: absolute;
  top: -2.5%;
  left: 5%;
  pointer-events: none;
  animation: macaroni-UpDown 5s infinite;
  opacity: 1;
  transition: opacity 1.5s;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .elbow {
    opacity: 0;
  }
  .fusilli {
    opacity: 0;
  }
}

@keyframes macaroni-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes macaroni-UpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

button.trd-btn{
  font-family: 'Poppins', sans-serif ;
  font-weight: 300;
  background-color: #0d6efd;
  border: 0 solid rgb(255, 255, 255, 0.5);
  transition: background-color 0.5s, box-shadow 0.5s, border-width 0.2s;
  box-shadow: 0;
  color: white;
  height: 4rem;
  width: 11rem;
}

button.trd-btn:hover{
  background-color: #70d2fc;
  border-width: 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.250);
}

button.trd-btn:active{
  background-color: #70d2fc;
  border-width: 5px;
}

.add-on-content{
  position: relative;
  background-color: #0d6efd;
  padding-bottom: 10%;
}

.add-on-content h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 4rem;
}

.add-on-content h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding-top: 5%;
  font-size: 3rem;
}

.add-on-content h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #70d2fc;
  padding-top: 10%;
  font-size: 2.5rem;
  margin-top: 0px;
}

.add-on-content p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 1rem;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
  margin: 0 15% 0 15%;
}

/* End of Home */

/* Start of OHcrud */

@keyframes rolldown {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: none; }
}

.roll-down {
  animation: rolldown 250ms;
}

@keyframes rollup {
  0% { transform: none; }
  100% { transform: translateY(-100px); opacity: 0; display: none; }
}

.roll-up {
  animation: rollup 250ms forwards;
}

.nav-header{
  background-color: black;
  width: 100%;
  height: 85px;
  position: absolute;
  top: 0;
}

.crud-container{
  height: 100vh;
  background-color: #f2f4f7;
}

.crud-card{
  background-color: white;
  border-radius: 15px;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075);
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s;
}

.crud-card .background-text-1{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 250px;
  top: -150%;
  left: -80%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(#3264fa, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 0;
  opacity: 0.75;
}

.crud-card .background-text-2{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 250px;
  top: -50%;
  left: 0;
  right: -80%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(#ffffff, #32c8fa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 0;
  opacity: 0.75;
}

.msg-text{
  z-index: 1;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: black;
}

.crud-card:hover{
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.075);
}

.crud-card:hover>.background-text-1{
  top: -150%;
  font-size: 315px;
}

.crud-card:hover>.background-text-2{
  top: -150%;
  font-size: 315px;
}

.crud-card .col{
  padding-left: 0;
  padding-right: 0;
}

.crud-card .edit-btn{
  background-color: #ffb938;
  color: white;
  border-top-right-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 25px;
  float: right;
}

.crud-card .delete-btn{
  background-color: #ff4700;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 25px;
  float: left;
}

.modal-content .col{
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 0;
  padding-right: 0;
}

.modal-content .edit-btn{
  background-color: #ffb938;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border-top-right-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 25px;
  float: right;
}

.modal-content .delete-btn{
  background-color: #ff4700;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 25px;
  float: left;
}

/* End of OHcrud */

/* Start of WIP */

.construction-container{
  background: linear-gradient(to top,rgb(50, 100, 250), rgb(0, 0, 0));
  max-height: 100vh;
  overflow: hidden;
}

.construction-container img{
  min-height: 100vh;
  max-width: 100%;
  filter: opacity(0.5);
}

.gear-cog{
  animation: logo-spin infinite 5s linear ;
}

/* End of WIP */

/* Start of Footer */

.footer-wrap{
  background-color: #12141c;
}

.footer-content{
  margin: 0 11% 0 11%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  color: white;
}

.twentyXX{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
  text-align: justify;
  margin: 2% 0%;
}

.copyleft{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #fff;
  padding-bottom: 2%;
  font-size: 1rem;
  justify-content: center;
  text-align: justify;
}

.flex-footer{
  display: flex;
  justify-content: center;
}

/* End of Footer */
